/*文字コードの設定*/
@charset "utf-8";

/*body設定 */
body{
    background-color: whitesmoke;
    color: red;
}

/*container設定 */
.container{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

/*h1設定 */
h1 {width: 560px;
    float: left;
    font-size: 28px;
    padding-left: 20pt;
}

/*navi IDの設定 */
#navi {
    width: 100%;
    margin-top: 16px;
    overflow: hidden;
}

/*navi IDの中のul要素の設定 */
#navi ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*navi IDの中のul要素の中のli要素の指定 */
#navi ul li {
    width: 33%;
    float: left;
    text-align: center;
}

/* navi IDの中のul要素の中のli要素の中のa要素を指定*/
#navi ul li a {
    display: block;
    padding: 5px;
    background-color: orange;
    border-right: solid 1px white;
    color: aliceblue;
}

/*navi IDの中のul要素の中のli要素のカレントクラスのリンクの設定 */
#navi ul li.current a{
    background-color: red;
}

/* navi IDの中のul要素の中のli要素のa要素（リンク）の設定*/
#navi ul li  a:hover{
    background-color: darkred;
}

/*top_message ID の設定 */
#top_message {
    width: 80%;
    padding-left: 33pt;
    padding-bottom: 20pt;
    background-color: whitesmoke;
}

/*top_image ID の設定*/
#top_image {
    float: left;
    margin-right: 30px;
    margin-top: 0pt;
    margin-left: 20pt;
}

/*a要素（リンク）の設定 */
a:hover {font-weight: bold}

.top_botton {
    display: inline-block;
    padding: 0.2em 1em;
    text-decoration: none;
    color: red;
    border: solid 2px;
    border-radius: 3px;
}

.top_botton:hover {
    background: navy;
    color: white;

}

/* news IDの設定*/
#news {
    border: solid;
    margin-bottom: 10pt;
    background-color: white;
}

#news h3 {
    padding-left: 20pt;
}

#datetime {
    margin-left: 15pt;
    padding-left: 10pt;
    padding-right: 10pt;
    color: black;
    background-color: lightyellow;
    border: 1px solid;
}

.contents_title {
    background-color: darkred;
    color: whitesmoke;
    padding: 5pt 10pt;
}

section h3 {
    background-color: red;
    border-bottom: solid 1px darkred;
    color: whitesmoke;
    padding: 3pt 10pt;
}

.contents_message {
    margin: 0pt 20pt;
    line-height: 1.2em;
}

.contact {
    margin-bottom: 20px;
    padding: 15px;
    background-color: darkred;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5em;
}

#message {
    border: solid;
    margin-top: 10pt;
    margin-bottom: 10pt;
    background-color: white;

}

#message h3 {
    padding-left: 20pt;

}

#message div {
    padding: 2pt 20pt;

}

.prof_photo {
    float: right;
    padding-left: 20pt;
    margin-right: 10pt;
}

.text {
    margin-bottom: 20pt;
    line-height: 1.5em;
}

#change {
    width: 100px;
    text-align: center;
    color: darkred;
    background: whitesmoke;
    border-bottom: 7px solid;
}

#change:hover {
    cursor: pointer;
    border-bottom: 3px solid;
}